* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auto-margin {
  padding-left: 10%;
  padding-right: 10%;
}

header .logo-container {
  padding: 30px 0;
  text-align: center;
}

header .logo-container img[alt=logo] {
  width: 400px;
}

header nav {
  padding: 30px 20%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  color: black;
}

#cards-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

#cards-container h2 {
  padding: 20px 0 10px 10px;
  color: #052d74;
  text-transform: uppercase;
  font-size: 30px;
}

#cards-container .showcase {
  display: flex;
  flex-wrap: wrap;
}

#cards-container .showcase .card {
  width: calc(100% / 3);
  padding: 12px;
}

#cards-container .showcase .card img {
  width: 100%;
}

